body{
	background-color: pink;
	filter: invert(1);
}
#effets div, .boite{
	background: red;
	height: 100px;
	margin: 2px;
	border-radius: 50px;
}

#tests div, #maBoite{
	background: red;
	height: 100px;
	margin: 2px;
	border-radius: 50px;
}

#animate div{
	background: red;
	height: 100px;
	margin: 2px;
	border-radius: 50px;

}

.alerte{
	color:red;
}

.highlight{
	background-color: aquamarine;
}
.bordure{
	border:5px solid black;
}

.vert{
	background-color: aquamarine !important;
}

.taille{
	border-radius: 20px;
	background-color: aquamarine;
	border:3px solid springgreen;
	color:bisque;
}

#maBoite{
	border-radius: 50px;
	box-shadow: 20px 20px 10px greenyellow;
}

#photos div img{
	display: none;
	box-shadow: 20px 20px 10px 20px greenyellow;
	border-radius: 50px;
	filter: blur(3px);
}

#photos nav ul{
list-style: none;
padding:0px;

}

#photos nav li{
	margin-bottom: 10px;
}

#photos nav li img{
	max-width: 100%;
	height: auto;
	filter: blur(1.5px);
	filter: grayscale(10);
}

#photos nav li img:hover{
	filter: blur(0);
	filter: grayscale(0);
}




